<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.custom.CustomToast"
        version="0.7.0">

  <name>CustomToast</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/mytoast.js" target="js/mytoast.js"/>

  <js-module src="www/mytoast.js" name="mytoast">
    <clobbers target="mytoast" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Hello">
        <param name="android-package" value="com.custom.CustomToast.MyToast"/>
      </feature>
    </config-file>

    <source-file src="src/android/MyToast.java" target-dir="src/com/custom/CustomToast/"/>
  </platform>
</plugin>